In [5]:
import pandas as pd
import csv
import yfinance as yf


df = pd.read_csv('C:/Users/trist/code/Data/Finviz_insider/AMZN.csv')
#df.head()

ticker_symbol = 'AMZN'

start_date = '2023-05-01'
end_date = '2023-09-23'

amazon_data = yf.download(ticker_symbol, start=start_date, end=end_date)

amazon_data.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-05-01,104.949997,105.230003,101.820000,102.050003,102.050003,74728100
2023-05-02,101.470001,103.900002,101.150002,103.629997,103.629997,73469400
2023-05-03,103.739998,105.959999,103.279999,103.650002,103.650002,65051900
2023-05-04,104.040001,105.389999,103.309998,104.000000,104.000000,45345500
2023-05-05,104.269997,105.760002,103.550003,105.660004,105.660004,56912900